body {
    background: url(/PHOTOS/window.jpg);
    height: 100vh;
    scroll-behavior:smooth;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
header {
    text-decoration: underline;
}
a {
    text-decoration: none;
    color: black;
}