@keyframes ANIME {
    0% {transform: scale(1);}
    25% {transform: scale(1.1) translate(30px, 0px);
      box-shadow: 0px 1px 10px black;
    background-color: #e0661f;}
    50% {transform: translate(0px, 0px);
    background-color: #736be7;}
    75% {transform:translate(-30px, 0px) scale(1.1) ;
      box-shadow: 0px 1px 10px black;
      background-color: #e0661f;}
    100% {transform: translate(0px, 0px);}
  }

.A {margin-left: 35rem;
    width: 180px;
    height: 50px;
    border: 2px solid black;
    margin-top: 3rem;
    background-color: #736be7;
border-radius: 30rem;
padding-bottom: 0.8rem;}

.ANIME {animation: ANIME 8s ease-out 3s infinite normal;}


.AGE {width: 60px;
    height: 30px;
    text-align: center;
    font-size: 80%;
}
  

.B {font-weight: bolder;
    font-size: 120%;
text-align: center;}

body {
    background: linear-gradient(#736be7,#e0661f);
    text-align: center;
    height: 91.3vb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.button-1 {padding-top: 0rem;
background-color: #736be7;
outline: 0;
border: 0 solid black;
font-size: 110%;
width: 130px;
height: 50px;
font-weight: bold;
border: 3px solid black;
border-radius: 15rem;
margin-left: 3rem;
margin-top: 1rem;}

.button-2 {
    margin-left: 3rem;
    margin-top: -2.1rem;
    background-color: #736be7;
outline: 0;
border: 0 solid black;
font-size: 110%;
width: 130px;
height: 50px;
border: 3px solid black;
border-radius: 15rem;
font-weight: bold;
}


.C {margin-top: 3rem;
font-size: 150%;
font-weight: bold;}
.label {width: 100px;
height: 30px;
text-align: center;
font-size: 80%;}
.label-2 {width: 150px;
    height: 30px;
    text-align: center;
    font-size: 80%;}
.left {margin-left: -15rem;}   


.top {margin-top: -3.5rem;
    margin-left: 30rem;}
.text:focus {border:0;
    box-shadow: 0px 3px 10px 5px black;
  outline: 0;
  transition: box-shadow 1.5s;
}
.text {width: 200px;
    height: 25px;
font-size: 103%;
text-align: center;} 