.A
{width: 80vb;
height: 30rem;
box-sizing: content-box;
border:5px solid black;
overflow: auto;
margin-top: 2rem;
margin-left: 50px;

border-radius: 5px;}



.abcd
{ width: 30vh;
    height:3.5rem;
    background-color: #736be7;
    position: absolute;
    top: 23rem;
    left: 33rem;
    right: 30rem; 
    border-radius: 30rem;
    margin-top: 25rem;
box-shadow: 10px 10px 10px black;
border: 2px solid black;
font-weight: bold;
text-align: center; }

a:visited, a:link {color: black;}
a:hover,a:focus {color: BLACK; font-size: larger;} 
::selection {color: white;} 


.B 
{width: 80vb;
    height: 30rem;
    box-sizing: content-box;
    border:5px solid black;
    overflow: auto;
    margin-left:660px;
    margin-top: -500px;
    border-radius:5px;}
    
.BUBO 
    {width: 120px;
        height:120px;
        border-radius: 60px;
        object-fit: cover; 
        margin-top: 20PX;
        margin-left:8rem;
        float: left;} 

.box:hover {
            box-shadow: 10px 10px 10px #000;
        }
        
.box 
        {width: 50rem;
        height: 10rem;
        margin-left: 15rem;
        border: 5px solid black;
        margin-bottom: 20px;
        border-radius: 20rem;
        background: linear-gradient(#ff6b15,#736be7) ;} 
        

body 
        {background:linear-gradient(#736be7,#ff6b15);
            display: flex;
        height: 150vb;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;} 
        
.E
    {width: 160px;
        height: 90px;
        border-radius: 50px;
        object-fit: cover;
        margin-top:20px;} 
        
em { color: white;
            font-style: normal; 
            font-size: 50px;}
.intro
    { font-size: 153%;
        font-style: italic;
        margin-right: 140px;
        margin-top: 50px;
        line-height: 0px;
        font-weight: 700;
        font-style: italic;}

img:hover {
            filter: blur(3px);}
.intro:hover {text-shadow: 1px 1px black;}               

p {line-height: 20px;}













@media screen and (min-width:768px) {


    .A
{width: 80vb;
height: 30rem;
box-sizing: content-box;
border:5px solid black;
overflow: auto;
margin-top: 2rem;
margin-left: 50px;

border-radius: 5px;}



.abcd
{ width: 30vh;
    height:3.5rem;
    background-color: #736be7;
    position: absolute;
    top: 23rem;
    left: 33rem;
    right: 30rem; 
    border-radius: 30rem;
    margin-top: 25rem;}

a:visited, a:link {color: black;}
a:hover,a:focus {color: BLACK; font-size: larger;} 
::selection {color: white;} 


.B 
{width: 80vb;
    height: 30rem;

    overflow: auto;
    margin-left:660px;
    margin-top: -500px;
    border-radius:5px;}
    
.BUBO 
    {width: 120px;
        height:120px;
        margin-left:8rem;
        float: left;} 
        
.box 
        {width: 50rem;
        height: 10rem;
        margin-left: 15rem;


} 
    
.E
    {width: 160px;
        height: 90px;
        border-radius: 50px;
        object-fit: cover;
        margin-top:20px;} 
.intro
    { font-size: 153%;
        margin-right: 140px;
        margin-top: 50px;
        line-height: 0px;
        font-weight: 700;
}

    
}



